<h1>Lines</h1>

<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'New Line', new_line_path, class: "btn btn-primary" %>
<% end %>

<p>&nbsp;</p>

<div class="row">
  <%= render @lines %>
</div>  