<h2>Lines</h2>

<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'New Line', new_line_path, class: "btn btn-primary" %>
  <p>&nbsp;</p>
<% end %>

<div class="row">
  <div class="col-md-4">
  <%= render "partials/searchbox" %>
  </div>
</div>

<div class="row">
  <%= render @lines %>
</div>  