<h2>Messages</h2>
<div class="row">
  <div class="media col-md-6 col-md-offset-3">
    <div class="panel panel-default viewMessages"> 
      <div class="panel-body"> 

        <% @messages.each do |message| %>
        
          <% if message.body %>

                  <%= render "partials/message", message: message, current_user: current_user %>
          
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <%= form_for [@conversation, @message] do |f| %>
    <div class="form-group col-md-6 col-md-offset-3">
      <%= f.text_area :body, placeholder: "Your message", class: "form-control" %>
    </div>
  <%= f.submit "Send" %>

  <% end %>
</div>