<h1>About Love Underground</h1>

<p>Love Underground is a personal ads and social networking site for London commuters.</p>
<p>The London underground carries up to 4.8 million people per day. Perhaps one or more of these people could be just what you are looking for. Love Underground offers you a second chance find your 'missed connection', that person you were too shy or otherwise unable to exchange contact details with.</p>

<div class="sparkImg">
  <img src="/spark.jpg" alt="Spark between commuters">
</div>

<p>What are you waiting for? Sign up and connect...</p>
