@import "bootstrap-sprockets";
@import "bootstrap";
@import "select2";

 /*POSTS INDEX*/

div.media-left img, div.media-right img  {
  border-radius: 100%;
}

.media:first-child {
      margin-top: 15px;
}

.post {
  height: 300px;
  overflow: hidden;
}

.panel:after {
  content: " ";
  height: 20px;
  background-color: red !important;
}

/*STATIONS INDEX*/
// .panel {
//     height: 300px;
//     overflow:auto;
// }

/*USERS SHOW*/

.profileDetail {
  border-radius: 100%;
}

/*MESSAGES INDEX*/

.viewMessages {
  overflow: auto;
  max-height: 55vh;
}

/* background: linear-gradient(to bottom,rgba(255,255,255,0) 0,#fff 55%,#fff 90%,rgba(255,255,255,0) 100%); */


